{% extends "base.html" %}

{% block title %} - login{% endblock %}

{% block body_block %}
<div class = 'main_content_card shown' id = 'search_card'>
    <div class = 'inner_main_content_card'>
	<div>
		Login
	</div>

    <form onsubmit = "javascript:notificationEnabler('login')" method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary waves-effect grey darken-3 waves" type="submit" value="Log in" />
        <input type="hidden" name="next" value="{{ next }}" />
		
    </form>
	
</div>

</div>
<br>
<div class = 'main_content_card shown' id = 'search_card'>
    <div class = 'inner_main_content_card'>
<form role="form"  method="post" action=".">
                {% csrf_token %}

Register
<div class="form-group" >
 <p class="required"> <label for="id_username">Username:</label>
     <input class="form-control"  id="id_username" maxlength="30" name="username" type="text"  placeholder="Enter username"/></p>
</div>
 <div class="form-group">
    <p class="required"><label for="id_email">E-mail:</label>
        <input class="form-control" id="id_email" name="email" type="email" placeholder="Enter email" /></p>
 </div>
<div class="form-group">
    <p class="required"><label for="id_password1">Password:</label>
        <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Enter password" /></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_password2">Password (again):</label>
 <input class="form-control" id="id_password2" name="password2" type="password" placeholder="Enter password again" /></p>
</div>

<button type="submit" class="btn btn-primary waves-effect grey darken-3 waves">Register</button>

        </form>
</div>
</div>
{% endblock %}