{% extends 'base.html' %}
{% block title %}Healthapple{% endblock %}
{% block body_block %}
<div onload = "javascript:passChange()" class = 'main_content_card shown' id = 'search_card'>
   <div class = 'inner_main_content_card'>
      <div class="page-header">
      </div>
      Category Name
      <form role="form" onsubmit="javascript:notificationEnabler('add_category')" id="category_form" method="post" action="/healthapple/add_category/">
         {% csrf_token %}
         {% for hidden in form.hidden_fields %}
         {{ hidden }}
         {% endfor %}
         {% for field in form.visible_fields %}
         {{ field.errors }}
         {{ field.help_text }}
         {{ field }}
         {% endfor %}
         <button class="btn btn-primary waves-effect grey darken-3 wave" type="submit" name="submit">Add</button>
      </form>
   </div>
</div>
{% endblock %}