{% extends "base.html" %}

{% block title %} - index{% endblock %}

{% block body_block %}

<div class = 'main_content_card shown' id = 'search_card'>
    <div class = 'inner_main_content_card'>
		<form class="form-inline" id="user_form" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input class="form-control" type="text" name="query" value="" id="clubSearch" oninput="javascript:onSearchBoxInput()" />
            <input class="btn btn-primary waves-effect grey darken-3 waves" type="submit" name="submit" value="Search" />
            <br/>
			
		</form>
	<br>
	
</div>

{% endblock %}