{% extends "base.html" %}

{% block title %} - index{% endblock %}

{% block body_block %}

    <h1>Index</h1>

    <h1><a href="/healthapple/">HealthApple</a></h1>

    {% if user.is_authenticated %}
        <h2>You're logged in!</h2>
    {% else %}
        <h2>You're not logged in!</h2>

    {% endif %}

	<ul>
		{% if user.is_authenticated %}
			<li><a href="{% url 'auth_logout' %}?next=/healthapple/">Logout</a></li>
		{% else %}
			<li><a href="{% url 'registration_register' %}">Register Here</a></li>
			<li><a href="{% url 'auth_login' %}">Login</a></li>
		{% endif %}
	</ul>

{% endblock %}
