{% extends "base.html" %}

{% block title %} - index{% endblock %}

{% block body_block %}
<div class = 'main_content_card shown' id = 'search_card'>
    <div class = 'inner_main_content_card'>
	{% if user.is_authenticated %}
			{{ user.username }}
			{{ person.picture }}
			{{ user.email }}
			<a class="waves-effect waves btn-flat black-text">Button</a>
			<li><a href="{% url 'auth_logout' %}?next=/healthapple/">Logout</a></li>
			<li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
	{% endif %}
	
</div>
</div>
{% endblock %}
